
.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #202020;
    margin: 30px;
}
.logo {
    height: 70px;
    width: auto;
}

a {text-decoration: #ffffff;
    color:#ffffff;
    margin-inline: 1rem;
    font-family:sans-serif;
    font-weight:700;
    font-size:large;
    font-stretch: condensed;
    float: left;

}

.navbar a:hover {
    background-color:#EC1D24;
  border: none;
  width: 7rem;
  color:#ffffff;
  padding: 0.6rem;
  text-align: center;
  position: relative;
  transition: 0.3s;
  display: block;
}

body, html {
    height: 100%;
}
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/44gbw2j81od51.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}
p{
    font-family:sans-serif;
    font-weight:300;
    font-size:medium;
    font-stretch:normal;
}
h1{
    font-family:sans-serif;
  font-weight:bolder;
    font-size:xx-large;
    font-stretch:expanded;
}

.button {
    width: 260px;
    height: 400px;
    position:relative ;
    border:none;
    background-image: url(/assets/img/clean.jpg) ;
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.408);
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;


}

.button2 {
    width: 260px;
    height: 400px;
    position:relative ;
    border:none;
    background-image: url(/assets/img/5283763-spgwenann2016001_dc11-0.jpg) ;
    background-size: cover;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.401);
}
.button3 {
    width: 260px;
    height: 400px;
    position:relative ;
    border:none;
    background-image: url(/assets/img/FEB200920.jpg) ;
    background-size: cover;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.401);
}




.button2:hover{
    transition: 0.3s;
    opacity: 0.5;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.745);
}
.button:hover{
    transition: 0.3s;
    opacity: 0.5;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.745);

}
.button3:hover{
    transition: 0.3s;
    opacity: 0.5;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.745);

}
.gwen {
    display:inline-block;
    align-content: center;
margin-left: -28rem;
margin-top: 1rem;
margin-bottom: 3rem;
    position: relative;
    width: 50%;
}
.noir {
    display:inline-block;
    align-content: center;
margin-left: -28rem;
margin-top: 1rem;
margin-bottom: 3rem;
    position: relative;
    width: 50%;
}
.miles1{
    display:inline-block;
    align-content: center;
    position: relative;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 50%;
}
.cont1{
display: flex;
align-content: center;
}
.cont0{
    display: flex;
align-content: center;
margin-left: 4rem ;
font-family:sans-serif;
    font-weight:bolder;
    font-size:xx-large;
    font-stretch:expanded;
    color:#202020;

}


.{
  color:#ffffff;
  font-family:sans-serif;
    font-weight:700;
    font-size:large;
  padding: 2rem;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.miles1:hover .text {
    opacity: 1; 
    background-color: #EC1D24;
}




